// Styling for the navbar
#mainNav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @include heading-font;
  transition:100ms ease;
  background:transparent;  
  .navbar-brand {
    color: $white;
  }
  .navbar-nav {
    margin-top: 0.2rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: $white;
        &:hover {
          background: $primary;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.2rem;
  }
}
#mainNav.navbar-shrink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $secondary;   
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  .navbar-brand {
    font-size: 1.5em;
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    transition:100ms ease;
    background:transparent;    
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }
  #mainNav.scrolled{
    background-color: $secondary;   
  }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(44, 62, 80, 0.9);   
    -webkit-transition: background-color 2000ms linear;
    -ms-transition: background-color 2000ms linear;
    transition: background-color 2000ms linear;
    .navbar-brand {
      font-size: 1.5em;
    }

    img#logoMini{
      max-width: 40px!important;
      -webkit-transition: max-width 0.3s;
      -moz-transition: max-width 0.3s;
      transition: max-width 0.3s;
      height: auto;
      float: left;
    }
  }

  img#logoMini{
    max-width: 55px!important;
    height: auto;
    float: left;
  }
}


